.card_country {
  background-color: var(--dark-blue);
}
#dark .info_name {
  color: var(--white);
}
#dark .info_types b {
  color: var(--white);
}

#dark .info_types p {
  color: var(--white);
}
.card_country {
  width: 100%;
  max-width: 15.625rem;
  background-color: var(--white);
  border-radius: 0.2rem;
  overflow: hidden;
  position: relative;
  transition: 0.3s;
  transition-timing-function: cubic-bezier(0.48, 0.25, 0.14, 0.91);
  display: block
}
.card_country__image{
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 10rem;
}
.country_info {
  padding: 1rem 1rem 2rem 1rem;
}
.info_name {
  margin-bottom: 1rem;
  font: normal normal 800 1.1rem/1.5rem var(--font-primary);
  color: var(--very-dark-blue-text);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.info_types {
  display: flex;
  gap: 0.4rem;
}
.info_types b {
  font: normal normal 600 0.8rem/1.2rem var(--font-primary);
  color: var(--very-dark-blue-text);
}
.info_types p {
  font: normal normal 300 0.8rem/1.2rem var(--font-primary);
  color: var(--very-dark-blue-text);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

