#dark {
  background-color: var(--dark-blue);
}
#dark .option {
  background: var(--dark-blue);
  color: var(--white);
}
#dark .option:hover{
  filter: brightness(1.2);
}
#dark .option:focus{
  filter: brightness(1.2);
}
.filter_options {
  transition: 0.3s;
  transition-timing-function: cubic-bezier(0.48, 0.25, 0.14, 0.91);
  background-color: var(--white);
  border-radius: 0.2rem;
  position: absolute;
  display: grid;
  width: 100%;
  max-width: 10rem;
  left: 0;
  z-index: 500;
  overflow: hidden;
  transform-origin: top center;
}
.option {
  color: var(--very-dark-blue-text);
  padding: 0.5rem 1rem;
  background-color: var(--white);
  border: none;
  font: normal normal 600 0.8rem/1rem var(--font-primary);
  transition: 0.3s;
  outline: none;
  text-align: left;
}
.option:first-child{
  margin-top: 0.5rem;
}
.option:last-child{
  margin-bottom: 0.5rem;
}
.option:hover, .option:focus {
  filter: brightness(0.8);
}

.v-enter-active,
.v-leave-active {
  transform: scaleY(1);
}
.v-enter-from,
.v-leave-to {
  transform: scaleY(0);
}

